---
import Default from '@layouts/Default.astro';
---

<Default
  title="Sobre Mentiras políticas"
  description="Mentiras de los políticos españoles">
  <p>
    Sitio en el que se pretenden recoger mentiras de personajes políticos
    basados en bendita hemeroteca.
  </p>
  <div class="player" data-video-id="_ffEffzkGtc"></div>
  <div class="player" data-video-id="jM9IivS7-0s"></div>
</Default>

<script :is-inline>
  let tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  let firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  function onYouTubeIframeAPIReady() {
    const ytIframes = document.querySelectorAll('[data-video-id]');
    ytIframes.forEach(ytIframe => {
      player = new YT.Player(ytIframe, {
        height: '360',
        width: '640',
        videoId: ytIframe.getAttribute('data-video-id'),
        events: {}
      });
    })
  }

</script>
