---
import Default from '@layouts/Default.astro';

import { YouTube } from '@astro-community/astro-embed-youtube';
---

<Default
  title="Sobre Mentiras políticas"
  description="Mentiras de los políticos españoles">
  <p>
    Sitio en el que se pretenden recoger mentiras de personajes políticos
    basados en bendita hemeroteca.
  </p>
</Default>
