---
import Default from '@layouts/Default.astro';

import { YouTube } from '@astro-community/astro-embed-youtube';
---

<Default
  title="Sobre Mentiras políticas"
  description="Mentiras de los políticos españoles">
  <p>
    Sitio en el que se pretenden recoger mentiras de personajes políticos
    basados en bendita hemeroteca.
  </p>
  <YouTube
    id="_ffEffzkGtc"
    poster="https://i.stack.imgur.com/rET57.jpg"
  />
  <YouTube
    id="jM9IivS7-0s"
  />
</Default>
