---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Iframe from '@components/Iframe.astro';
import VideoBlocks from '@components/VideoBlocks.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Mentirosos</h1>
      <VideoBlocks>
        <div slot="before">
          <h2>El <abbr title="Partido Socilaista Navarro">PSN</abbr> no pactará con Bildu</h2>
          <Iframe
            src="https://www.youtube.com/embed/_ffEffzkGtc?si=OrJc5USM7Lybggjr"
            title="El PSN no pactará con Bildu"
          />
        </div>
        <div slot="after">
          <h2>BILDU garantiza su SÍ a Pedro Sánchez</h2>
          <Iframe
            src="https://www.youtube.com/embed/jM9IivS7-0s?si=Xn7hCCgs8UEGgau4"
            title="BILDU garantiza su SÍ a Pedro Sánchez"
          />
        </div>
      </VideoBlocks>
    </main>
    <Footer />
  </body>
</html>
