---
import { slugifyStr } from "@utils/slugify";

interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<ul>
  {tags.map(tag => <li><a href={`/tags/${slugifyStr(tag)}/`}>{tag}</a></li>)}
</ul>

<style lang="scss">
  ul {
    display: flex;
    gap: var(--spacing-2xs);
    flex-wrap: wrap;
    margin-bottom: var(--spacing-xs);
    a {
      font-size: 14px;
      padding: var(--spacing-2xs) var(--spacing-xs);
      background-color: var(--accent-dark);
      border-radius: 2px;
      color: #fff;
    }
  }
</style>
